/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 800px;
    height: 500px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 800px;
    height: 33%;
    background-color: red;
    display: inline-block;
}

#middenkant{
    width: 800px;
    height: 33%;
    background-color: white;
    display: inline-block;
}
#onderkant{
    width: 800px;
    height: 33%;
    background-color: blue;
    display: inline-block;
}

