/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 900px;
    height: 600px;
    background-color: lightblue;
    border-bottom:20px solid white;
}

#rechtsboven{
    width: 100%;
    height: 60px;
    background-color: black;
    justify-content: center;
}
#onderkant{
    width: 100%;
    height: 250px; 
    background-color: lightblue;
    border-top: 20px solid white;
}

