/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width:  900px;
    height: 0px; 
    display: inline-block;
}

#rechtsboven{
    width: 700px;
    height: 250px;
    background-color: white;
    float: right;
}
#linksboven{
    width: 500px;
    height: 250px; 
    background-color: blue;
}
#onderkant{
    height: 250px;
    width: 900px; 
    background-color: red;
}