/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    height: 500px;
    width: 900px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */


#linksboven{
    height: 250px; 
    width: 250px;
    background-color: blue;
    display:inline-block;
}
#rechtsboven{
    height: 250px;
    width: 650px;
    background-color: white;
    display:inline-block;
}
#onderkant{
    height: 250px;
    width: 900px; 
    background-color: red;
}